*{
    margin: 0;
    padding: 0;

}

.card-contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.container{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px;
    border: none;
    width: 40vw;
    /* background-color: beige; */
    height: 70vh;
    border-radius: 10px;
    cursor: pointer;
    background-color:#ebebdb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    transition: background-color 0.3s ease;
    transform-style: preserve-3d; /* Enable 3D transforms */
    perspective: 1000px; /* Create the 3D effect */
  

}

.container h1{
    position: fixed;
    top: 15px;
}

input{
    margin: 20px 20px;
    border-radius: 5px;
    height:30px;
    width: 700px;
    border: none;
}
.container label{
    margin-right: 628px;
    color: black;
}
.container #descfield{
    margin-right: 395px;
    color: black;
}

.container textarea{
    margin: 20px 0px;
    width: 700px;
    height: 200px;
    border-radius: 7px;
    border: none;
    font-size: large;
}

.container .submit-btn{
    color: rgb(112, 111, 111);
    background-color: greenyellow;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;

}


.container:hover {
    box-shadow: 5px 5px 20px 8px gray;;
    background-color: beige; /* Color when hovering */
}

