*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    /* background-color: whitesmoke; */
    /* background-color: rgb(65, 63, 63); */
}


.home{
    font-weight: 400;
   /* padding: 5px; */
   font-size: 24px;
   letter-spacing: 1px;
   border-radius: 5px;
   background-color: rgb(214, 205, 205);
   padding: 2px;
   color: rgb(60, 55, 55);
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 83vh;
    justify-content: center;
    /* gap: 0.1%; */
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.855);
    /* position: relative; */
    /* border: 1px solid rgb(51, 47, 47) ; */
}
.com{
    /* position: relative; */
    /* top: 8vh; */
    /* left: 0; */
    /* position: fixed; */
   height: 80vh;
   width: 25vw;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.259);
   border: 2px solid rgb(65, 63, 63);
   overflow: auto;
   color: whitesmoke;
   /* box-shadow:0px 0px 5px 0px inset;; */
}
.view{
    height: 80vh;
    width: 63vw;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.259) ;
    border: 2px solid rgb(65, 63, 63);
    justify-items: center;
    align-content: center;
 }
 .live{
    height: 50vh;
    width: 50vw;
 }

img{
    /* margin-left: 80vw; */
    border-radius: 50%;
    margin-right: 2px;
}
.pname{
   display: inline-block;
   margin-right: 15px;
   color: white;
   letter-spacing: 1px;
   font-size: 20px;
}
